// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

// Font Variables
$theme-font: 'Roboto', sans-serif;

// Color Variables
$background-color: #F5F6FC;
$background-dark:#343951;
$background-dark-footer:#464C61;
$background-light:#E5E5E5;
$orange:#FF9F00;
$orange-light:#FFB233;
$orange-dark:#FF9F00;
$white:#FFFFFF;
$pink:#FF6860;
$green:#4AC29D;
$gray:#BCBECA;
$gray-dark:#C4C4C4;


//Color Fonts
$sidebar-font:#858A9D;
$sidebar-font-footer:#BEC0C8;
